<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title> Music Converter </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='music.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>

    <body>
        <div id="wrapper" class="black-overlay" align="center">
            <div id="main">
                <h1>Music Converter</h1>
                <h3>Try out our model! Have fun!</h3>
                <label for="music">Upload a piece of music:</label>

                <form action="transform" method="POST" id="music-upload" class enctype="multipart/form-data">
                    <select name="genre" id="genre">
                        <option value="">- Genre -</option>
                        <option value="1">Pop</option>
                        <option value="1">Country</option>
                        <option value="1">Rock</option>
                        <option value="1">Jazz</option>
                        <option value="1">R&B</option>
                    </select>
                    <input type='text' name='textfield' id='filename' class='txt' />
                    <label class="btn" for="music">Choose File</label>
                    <input type="file" id="music" name="music" class="file" accept="audio/mpeg, audio/mp4, audio/wav"
                        onchange="document.getElementById('filename').value = this.value"/>
                    <button type="submit" onclick="musicUpload(event)">Submit</button>
                </form>
                
                <button onclick="show()">Show</button>

                <div id="showResult" style="display:none">
                    <ul>
                        <li class="total">
                            <img id="visualization" src="{{ url_for('static', filename='images/Taylor.jpg') }}"/>
                            <div class="icon">
                                <div class="stop" id="off">
                                    <img src="{{ url_for('static', filename='images/play.png') }}" id="music-play-icon">
                                    <audio id="audio" src="{{ url_for('static', filename='music/Red.mp3') }}"></audio>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="download">
                        <button onclick="download()">Download</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>